*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100vh;
    width: 100vw;
}

.navbar{
    width: 100%;
    height: 85px;
    background-color: red;
    display: flex;
    justify-content: space-between;
}

.navbar .left{
    height: 100%;
    width: 15%;
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: var(--padding-sm);
    padding-right: var(--padding-2xl);
}

.navbar .left .brandLogo{
    height: 60px;
    width: 60px;
    background-color: grey;
    border-radius: 50%;
}

.navbar .left .navigate{
    width: 30%;
    height: 100%;
    /* background-color: yellow; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navbar .left .navigate .previous{
    width: 60px;
    height: 60px;
    /* background-color: red; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar .left .navigate .next{
    width: 60px;
    height: 60px;
    /* background-color: red; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#prev-btn{
    color: var(--color-text-secondary);
    height: 45px;
    width: 45px;
    color: var(--color-text-secondary);
    transition: transform 0.3s ease-in-out;
}

#prev-btn:hover{
    color: var(--color-text);
    cursor: pointer;
    transform: scale(1.08);
}

#next-btn{
    color: white;
    height: 45px;
    width: 45px;
    color: var(--color-text-secondary);
    transition: transform 0.3s ease-in-out;
}

#next-btn:hover{
    color: var(--color-text);
    cursor: pointer;
    transform: scale(1.08);
}

.navbar .middle{
    height: 100%;
    width: 40%;
    background-color: blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: var(--padding-2xl);
    padding-right: var(--padding-2xl);
}

.navbar .middle .homeButton{
    width: 60px;
    height: 60px;
    background-color: yellow;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .middle .searchBar{
    width: 88%;
    height: 60px;
    background-color: yellow;
    border-radius: 50px;
}

.navbar .right{
    height: 100%;
    width: 15%;
    /* background-color: blue; */
}