.musicPlayer{
    width: 100%;
    height: 100px;
    /* background-color: red; */
    display: flex;
    align-items: center;
    padding-left: var(--padding-md);
    padding-right: var(--padding-md);
}

.musicInfo{
    width: 27%;
    height: 95%;
    /* background-color: blue; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: var(--gutter-md);
    padding-right: var(--padding-sm);
}

.musicPlayer .musicInfo .songCover{
    height: 90%;
    aspect-ratio: 1/1;
    /* background-color: red; */
    border-radius: var(--border-radius-lg);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-surface);
    box-shadow:
        0 6px 12px rgba(0, 0, 0, 0.5),
        inset 0 2px 3px rgba(255, 255, 255, 0.08),
        inset 0 -3px 5px rgba(0, 0, 0, 0.7);

}

.musicPlayer .musicInfo .songCover .songCoverLayout{
    width: 86%;
    height: 86%;
    /* background-color: yellow; */
    border-radius: var(--border-radius-lg);
}

.musicPlayer .musicInfo .songCover .songCoverLayout img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--border-radius-lg);
    object-position: bottom;
}

.musicPlayer .musicInfo .songDescription{
    width: 100%;
    height: 90%;
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.musicPlayer .musicInfo .songDescription .songName{
    width: 100%;
    height: 49.5%;
    /* background-color: aqua; */
    font-family:  var(--font);
    font-size: 18px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    color: var(--color-text);
}

.musicPlayer .musicInfo .songDescription .songArtist{
    width: 100%;
    height: 49.5%;
    /* background-color: aqua; */
    font-family: var(--font);
    font-size: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    color: var(--color-text-secondary);
}

.mainPlayer{
    width: 46%;
    height: 95%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.mainPlayer .songFunctions{
    width: 70%;
    height: 57%;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gutter-xl);
}

.mainPlayer .songFunctions .previous{
    width: 50px;
    height: 50px;
    background-color: orange;
}

.mainPlayer .songFunctions .play{
    width: 50px;
    height: 50px;
    background-color: orange;
}

.mainPlayer .songFunctions .next{
    width: 50px;
    height: 50px;
    background-color: orange;
}

.mainPlayer .songTimeline{
    width: 100%;
    height: 43%;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gutter-sm);
}

.mainPlayer .songTimeline .currentTime{
    width: 7%;
    height: 95%;
    background-color: orange;
}

.mainPlayer .songTimeline .totalTime{
    width: 7%;
    height: 95%;
    background-color: orange;
}

.mainPlayer .songTimeline .timelineSlider{
    width: 70%;
    height: 95%;
    background-color: orange;
}

.musicFunctions{
    width: 27%;
    height: 95%;
    background-color: blue;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: var(--gutter-md);
}

.musicFunctions .m{
    width: 40px;
    height: 40px;
    background-color: orange;
}

.musicFunctions .volumeSlider{
    width: 125px;
    height: 40px;
    background-color: orange;
}