/* navbar */

.navbar {
    width: 100%;
    height: 67px;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* navbar left portion */

.navbar .left {
    height: 80%;
    width: 15%;
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: var(--padding-sm);
    padding-right: var(--padding-2xl);
}

/* brandLogo */

.navbar .left .brandLogo {
    height: 50px;
    width: 50px;
    background-color: grey;
    border-radius: 50%;
}

/* navigate buttons */

.navbar .left .navigate {
    width: 30%;
    height: 100%;
    /* background-color: yellow; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navbar .left .navigate .previous {
    width: 35px;
    height: 35px;
    /* background-color: red; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar .left .navigate .next {
    width: 35px;
    height: 35px;
    /* background-color: red; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#prev-btn {
    color: var(--color-text-secondary);
    height: 45px;
    width: 45px;
    color: var(--color-text-secondary);
    transition: transform 0.3s ease-in-out;
}

#prev-btn:hover {
    color: var(--color-text);
    cursor: pointer;
    transform: scale(1.08);
}

#next-btn {
    color: white;
    height: 45px;
    width: 45px;
    color: var(--color-text-secondary);
    transition: transform 0.3s ease-in-out;
}

#next-btn:hover {
    color: var(--color-text);
    cursor: pointer;
    transform: scale(1.08);
}

.navbar .middle {
    height: 100%;
    width: 42%;
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: var(--padding-2xl);
    padding-right: var(--padding-2xl);
}

.navbar .middle .homeButton {
    width: 50px;
    height: 50px;
    background-color: var(--color-surface);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-surface);

    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);

    border-radius: 30px;

    box-shadow:
        0 8px 20px rgba(0, 0, 0, 0.6),
        inset 0 1px 1px rgba(255, 255, 255, 0.04),
        inset 0 -1px 1px rgba(0, 0, 0, 0.6);

    border: 1px solid rgba(255, 255, 255, 0.05);

    color: var(--color-surface);
    padding: 10px 16px;

    transition: all 0.25s ease;
}

.navbar .middle .homeButton:hover {
    /* box-shadow:
        0 8px 20px rgba(0, 0, 0, 0.6),
        inset 0 1px 1px rgba(255, 255, 255, 0.04),
        inset 0 -1px 1px rgba(0, 0, 0, 0.6),
        inset 0 0 25px rgba(255, 255, 255, 0.12); */
    background: var(--color-surface), 0.4;
    transform: scale(1.1);
    cursor: pointer;
}

#home-btn {
    width: 50px;
    height: 50px;
    color: var(--color-text);
}

.navbar .middle .searchBar {
    width: 90%;
    height: 50px;
    background-color: var(--color-surface);
    border-radius: 50px;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-surface);

    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);

    border-radius: 30px;

    box-shadow:
        0 8px 20px rgba(0, 0, 0, 0.6),
        inset 0 1px 1px rgba(255, 255, 255, 0.04),
        inset 0 -1px 1px rgba(0, 0, 0, 0.6);

    border: 1px solid rgba(255, 255, 255, 0.05);

    color: var(--color-surface);
    padding: 10px 16px;
    transition: all 0.25s ease;
    /* background-color: red; */
    margin-left: 10px;
}

.navbar .middle .searchBar.searchBarActive {
    background: var(--color-surface), 0.4;
    transform: scale(1.01);
    cursor: pointer;
    border: solid white 2px;
    transition: all 0.2s ease;
}

.navbar .middle .searchBar:hover {
    background: var(--color-surface), 0.4;
    transform: scale(1.01);
    cursor: pointer;
}

.navbar .middle .searchBar .searchIcon {
    height: 45px;
    width: 45px;
    /* background-color: blue; */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-icon {
    width: 30px;
    height: 30px;
    color: var(--color-text-secondary);
}

.navbar .middle .searchBar .search {
    width: 75%;
    height: 55px;
    /* background-color: blue; */
    border: none;
    background-color: transparent;
    /* background-color: var(--color-surface); */
    user-select: none;
    outline: none;
    color: var(--color-text);
    font-size: 18px;
}

.navbar .middle .searchBar .explore {
    width: 14%;
    height: 55px;
    /* background-color: black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: var(--padding-md);
    padding-right: var(--padding-md);
}

.navbar .middle .searchBar .explore .line {
    height: 36px;
    width: 1px;
    background-color: var(--color-text-secondary);
    /* padding-left: var(--padding-sm); */
}

.navbar .middle .searchBar .explore .icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#explore-btn {
    width: 30px;
    height: 30px;
    color: var(--color-text-secondary);
}

.navbar .right {
    height: 100%;
    width: 15%;
    /* background-color: blue; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: var(--padding-sm);
    padding-left: var(--padding-xl);
    gap: var(--gutter-md);
}

.navbar .right .theme {
    width: 120px;
    height: 50px;
    /* background-color: yellow ; */
    border-radius: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: var(--gutter-sm);
    background: var(--color-surface);

    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);

    border-radius: 30px;

    box-shadow:
        0 8px 20px rgba(0, 0, 0, 0.6),
        inset 0 1px 1px rgba(255, 255, 255, 0.04),
        inset 0 -1px 1px rgba(0, 0, 0, 0.6);

    border: 1px solid rgba(255, 255, 255, 0.05);

    color: var(--color-surface);
    padding: 10px 16px;
    transition: all 0.25s ease;
}

.navbar .right .theme:hover {
    box-shadow:
        0 8px 20px rgba(0, 0, 0, 0.6),
        inset 0 1px 1px rgba(255, 255, 255, 0.04),
        inset 0 -1px 1px rgba(0, 0, 0, 0.6),
        inset 0 0 25px rgba(255, 255, 255, 0.12);

    transform: scale(1.05);
    cursor: pointer;
}

.navbar .right .theme .themeIcon {
    width: 30px;
    height: 30px;
    /* background-color: brown; */
    border-radius: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 2px;
}

#theme-icon {
    width: 40px;
    height: 40px;
    fill: var(--color-text);
}

.navbar .right .theme .themeName {
    width: 80px;
    height: 40px;
    /* background-color: brown; */
    display: flex;
    align-items: center;
    color: var(--color-text);
    font-size: 18px;
}

.navbar .right .profile {
    width: 50px;
    height: 50px;
    background-color: yellow;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-surface);
    box-shadow:
        0 6px 12px rgba(0, 0, 0, 0.5),
        inset 0 2px 3px rgba(255, 255, 255, 0.08),
        inset 0 -3px 5px rgba(0, 0, 0, 0.7);

    transition: all 0.25s ease;
}

.navbar .right .profile .picture {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    /* background-color: red; */
}

.navbar .right .profile .picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}